frontend/node_modules
frontend/dist
frontend/build

backend/agents/binaries/*
backend/agents/install/*

backend/**/__pycache__/
backend/**/*.py[cod]
backend/**/*$py.class
backend/**/*.so

backend/.Python
backend/build/
backend/develop-eggs/
backend/dist/
backend/downloads/
backend/eggs/
backend/.eggs/
backend/lib/
backend/lib64/
backend/parts/
backend/sdist/
backend/var/
backend/wheels/
backend/share/python-wheels/
backend/*.egg-info/
backend/.installed.cfg
backend/*.egg
backend/MANIFEST

backend/.env
backend/.venv
backend/env/
backend/venv/
backend/ENV/
backend/env.bak/
backend/venv.bak/

# ruff
backend/.ruff_cache/